.header {
  background-color: #006d6d;
  padding: 10px;
  color: white;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.menu {
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu li:hover {
  color: #61dafb;
}
